.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  @media (max-width: 1120px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 756px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.product {
  position: relative;
  height: 240px;
  padding: 30px;
  border-radius: 20px;
  transition: 0.3s;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

  .id {
    text-align: center;
    color: #888;
    margin-bottom: 20px;
  }
  .name {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
  }

  .price {
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-size: 18px;
    color: #d2b48c;
    font-weight: 600;
    span {
      color: #000;
      font-weight: 400;
    }
  }
  .brand {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 18px;
  }
  span {
    color: #999;
  }

  &:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.03);
  }
}
